.header {
  border-radius: 10px;
  box-shadow: rgba(23, 23, 24, 0.08) 0 8px 8px 0;
  background-image: linear-gradient(
    rgb(251, 251, 204) 0%,
    #ffff 30%,
    rgb(161, 224, 241) 100%
  );
  width: 40%;
  padding: 30px;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 350;
  line-height: 1.5;
  color: #212529;
}

.container {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  max-width: 500px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.weatherDetail {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
.summaryHeader {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
